body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img{
  width: 250px;
  height: 250px;
}

.chuck-button{
  display: block;
}

.column {
  float: left;
  width: 45%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.country-specs{
  margin-top: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  margin: 0 auto;
  border-radius: 10px;
}

.card-body{
  margin: 10px;
  padding: 10px;
}

.card-head{
  border-bottom: thin solid #efefef;
  margin: 10px;
  padding: 10px;
}

.card-footer{
  border-top: thin solid #efefef;
  margin: 10px;
  padding: 10px;
}

.card-footer{
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

button{
  background-color:#44c767;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding: 10px 25px;
  text-decoration:none;
  text-shadow:0 1px 0 #2f6627;
  align-items:center;
}

.spec{
  display: block;
}

.flag{
  float: right;
  position: relative;
  top: -60px;
}

.flag img{
  width: 100px;
  height: 50px;
  border: thin solid rgba(0, 0, 0, 0.5);
}

b{
  margin-right: 5px;
}

.joke{
  margin-top: 100px;
  font-size: 18px;
  border: thin solid #efefef;
  padding: 20px;
}

input{
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: block;
}

input[type=text]:focus {
  width: 50%;
}